.dashboard {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.card {
  width: 270px;
  border: 1px solid lightgray;
  border-radius: 14px;
  padding: 8px;
}
